.menu-header{
    background-color: red;
	list-style-type: none;
	list-style: none;
	list-style-image: none;

}
.menu-header ul[
    
]
.menu-header li {
	list-style: none;
}
.menu-header a{
	list-style: none;
}